### IntelliJ IDEA ###


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
Products - kopia/Apples.txt
Products - kopia/Citrus Fruit.txt
Products - kopia/Cole Crops.txt
Products - kopia/Mushrooms.txt
Products - kopia/Onions.txt
Products - kopia/Other Fruit.txt
Products - kopia/Other Vegetables.txt
Products - kopia/Peppers.txt
Products - kopia/Root Vegetables.txt
Products - kopia/Stone Fruit.txt
